ul {
  position: relative!important;
  top: 200px; left: 200px!important;
  list-style-type: none!important;
  margin: 0!important;
  padding: 0!important;
}

li {
  position: absolute!important;
  -webkit-transition: all 2s linear!important;
  -moz-transition: all 2s linear!important;
  transition: all 2s linear!important;
}
